* {
  box-sizing: border-box;
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-pattern-top.svg");
  background-repeat: no-repeat;
}

.card-footer-block {
  display: inline-block;
}

/* card */

#profile-card {
  width: 350px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
}

.card-corners {
  border-radius: 15px;
}

/* card header */

.card-top-corners {
  border-radius: 15px 15px 0px 0px;
}

/* card body */

#profile-picture {
  width: 96;
  height: 96;
  display: block;
  margin: auto;
  border-radius: 50%;
}

#name-age-container {
  margin: auto;
  width: 60%;
}

#name,
#age {
  display: inline-block;
}

#location {
  text-align: center;
}

/* card footer */

.card-footer-block {
  width: 32.5%;
}

.card-footer-block p {
  text-align: center;
}

/* attribution */

.attribution {
  width: 100%;
  position: fixed;
  bottom: 5px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
