* {
  box-sizing: border-box;
  border: solid black 1px;
  margin: 0;
  padding: 0;
}

.card-footer-block {
  display: inline-block;
}

/* card */

#profile-card {
  width: 350px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* attribution */

.attribution {
  width: 100%;
  position: fixed;
  bottom: 5px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
